@model Product
@inject ICartRepository Cart
@inject UserManager<AppUser> UserManager
@inject SignInManager<AppUser> SignInManager

@{
    ViewData["Title"] = "Каталог";
}

<link rel="stylesheet" href="/product/css/product.css">
<main class="content">
    <div class="all">
        <div class="menuimg">
            <img src="/img/pets.png" alt="pets">
        </div>

        <div class="main">
            <div class="main1">
                <span style="font-size: xx-large;"> <b>@Model.Subcategory.Name</b> </span>
            </div>
        </div>
        <div class="line"></div>

        <div class="product__main2">
            <div class="product__main2_l">
                <img src="/upload/@Model.Picture" alt="">

            </div>
            <div class="product__main2_r">
                <div class="product__main2_r1">
                    <span>
                        @Model.Name
                    </span>
                </div>
                <div class="product__main2_r2">
                    <p>@String.Format("{0:f0}", Model.Price)₴</p>

                    <form method="get" asp-controller="Order" asp-action="Create">
                        <input hidden name="orderDetails[0].ProductId" value="@Model.Id"/>
                        <input hidden name="orderDetails[0].Quantity" value="1"/>
                        <button>Замовити</button>
                    </form>

                    @if (SignInManager.IsSignedIn(User) && @Cart.Contains(Model, (await UserManager.GetUserAsync(User))))
                    {
                        <a asp-controller="Cart" asp-action="RemoveProduct" asp-route-Id="@Model.Id">
                            <img src="/img/icons/likeChecked.png" alt="">
                        </a>
                    }
                    else
                    {
                        <a asp-controller="Cart" asp-action="AddProduct" asp-route-Id="@Model.Id">
                            <img src="/img/icons/like.png" alt="">
                        </a>
                    }
                    <div class="clear"></div>
                </div>
                <div class="product__main2_r3">
                    @Model.Description
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="product__main3_border">

        <div class="product__main3_top"><span>ХАРАКТЕРИСТИКА</span></div>
    </div>
    <div class="product__main3_top1"></div>
    <div class="all">

        <div class="product__main3">

            <div class="product__main3_l">
                <img src="/upload/@Model.Picture" alt="">

            </div>

            <div class="product__main3_r">
                <ul>
                    @foreach (Property property in Model.Properties)
                    {
                        <li>
                            <span class="product__property">@property.Key</span>
                            <p>@property.Value</p>
                        </li>
                        <br>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</main>