@model ProductListViewModel
@{
    ViewData["Title"] = "Пошук";
}


@if (ViewBag.Search is not null)
{
    <div class="all">
        <div class="main">
            <div class="main1">
                <span style="font-size: xx-large;"> <b>Результат пошуку:</b> @Model.SearchText </span>
            </div>
        </div>
        <div class="line"></div>
    </div>
}

<div class="search_select">
    <form method="get">
        <input type="hidden" name="search" id="search" value="@Model?.SearchText" />
        <div class="search_select_left">
            <p>категорія</p>
            <select name="subcategoryId" id="subcategoryId" asp-items="Model.SubcategoriesList" class="custom-select">
                <option value=""> Не обрано </option>
            </select>
        </div>
        <div class="search_select_left" name="comparer">
            <p>сортування</p>
            <select data-val="true" data-val-required="The SelectedTag field is required." name="comparer" id="comparer" asp-items="Model.ComparersList" class="custom-select">
                <option value=""> Не обрано </option>
            </select>
        </div>
        <div class="search_select_left">
            <p>Ціна</p>
            <input name="minPrice" placeholder="@String.Format("{0:f0}", Model.MinPrice)">
            <input name="maxPrice" placeholder="@String.Format("{0:f0}", Model.MaxPrice)">
            <button>OK</button>
        </div>
    </form>
</div>

<div class="clear"></div>
<div class="search_wrapper">
    @if (Model.Products != null)
    {
        @foreach (Product product in Model.Products)
        {
            <a asp-action="Product" asp-route-id="@product.Id">
                <div class="search_box">
                    <img src="/upload/@product.Picture" alt="@product.Name">
                    <p>@product.Name</p>
                    <span>@product.Price.ToString("#") ₴</span>
                    <button>Замовити</button>
                </div>
            </a>
        }
    }
</div>
<div class="clear"></div>

<div class="search_scroll" page-classes-enabled="true" page-class-normal="search__page" page-class="search__page-block" page-class-selected="search__page-selected" page-model="@Model.PagingInfo" page-action="Search"
     page-url-subcategoryId="@Model.SubcategoryId" page-url-search="@Model.SearchText" page-url-minPrice="@Model.MinPrice" page-url-maxPrice="@Model.MaxPrice" page-url-comparer="@Model.Comparer"></div>

<div class="clear"></div>

<div class="search_slider">

    <span>Недавно переглянуті товариші</span>


    <div class="wrapper">
        <div class="carousel owl-carousel">
            <div class="search_slider_box">
                <img src="/search/img/item.png" alt="">
                <p>Sheba Fine Flakes</p>
                <span>13,70 ₴</span>
            </div>
            <div class="search_slider_box">
                <img src="/search/img/item.png" alt="">
                <p>Sheba Fine Flakes</p>
                <span>13,70 ₴</span>
            </div>
            <div class="search_slider_box">
                <img src="/search/img/item.png" alt="">
                <p>Sheba Fine Flakes</p>
                <span>13,70 ₴</span>
            </div>
            <div class="search_slider_box">
                <img src="/search/img/item.png" alt="">
                <p>Sheba Fine Flakes</p>
                <span>13,70 ₴</span>
            </div>

        </div>
    </div>
</div>
